* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  min-height: 100vh;
  background: rgb(107, 221, 221);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.tweet {
  height: 300px;
  width: 300px;
  background: rgb(192, 189, 189);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
